[filter "lfs"]
    smudge = git-lfs smudge %f
    required = true
    clean = git-lfs clean %f
[alias]
    patch = "!f(){ git diff $1^ $1 | git apply; }; f"
    intercept = "!f(){ git diff $1^ $1 | git apply --reverse; }; f"
    # -> 'git show $1 -p | git apply' doesn't work with stashes
    back = "!f() { git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; }; f"
    compare = "!f() { git diff ${1:-master}...${2:-HEAD}; }; f"
    history = "!f() { git log ${1:-master}..${2:-HEAD}; }; f"
    # typos
    chekcout = checkout
    hcekcout = checkout
    hceckout = checkout
    checkotu = checkout
    stauts = status
    hisotry = "!f() { git log ${1:-master}..${2:-HEAD}; }; f"
[diff]
    compactionHeuristic = true
[color]
    ui = auto
[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
